@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* :root {
    --color-primario: #071952;
    --color-secundario: #d8dfe8;
    --color-terciario: #e5e5e5;
    --color-cuarternario: #ffffff;

    --fuente-space: "Space Mono", monospace;
    --fuente-merri: "Merriweather", serif;
} */
/* :root {
    --color-primario: #164863;
    --color-secundario: #427d9d;
    --color-terciario: #9bbec8;
    --color-cuarternario: #ddf2fd;

    --fuente-space: "Space Mono", monospace;
    --fuente-merri: "Merriweather", serif;
} */
:root {
    --color-primario: #102c57;
    --color-secundario: #dac0a3;
    --color-terciario: #eadbc8;
    --color-cuarternario: #fefaf6;

    --fuente-space: "Space Mono", monospace;
    --fuente-merri: "Merriweather", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: var(--fuente-space);
    background-color: var(--color-terciario);
}

header {
    padding: 2% 0% 3% 5%;
}

main {
    display: flex;
    justify-content: center;
    min-height: 90vh;
    padding: 0% 5% 0% 10%;
    gap: 30px;
}

.main__izq {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main__izq__msg {
    height: 70%;
    width: 100%;
    border: none;
    resize: none;
    color: var(--color-primario);
    font-size: 1.3rem;
    background-color: var(--color-terciario);
}

.main__izq__msg::placeholder {
    color: var(--color-primario);
    font-size: 1.3rem;
}

.main__izq__group {
    margin-block: 20px;
}

.main__izq__span {
    font-size: 0.8rem;
}

.main__izq__alert {
    display: none;
    color: #973131;
}

.main__izq__btn,
.main__der__copiar {
    font-family: var(--fuente-space);
    font-size: 1rem;
    width: 49%;
    padding: 0.8rem;
    border-radius: 15px;
    cursor: pointer;
}

.btn__encriptar {
    border: none;
    background-color: var(--color-primario);
    color: var(--color-secundario);
}

.btn__desencriptar,
.main__der__copiar {
    background-color: var(--color-secundario);
    color: var(--color-primario);
    border: 1px solid var(--color-primario);
}

.main__der {
    padding: 3%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    box-shadow: 1px 1px 10px #00000062;
    border-radius: 15px;
    text-align: center;
    background-color: var(--color-cuarternario);
}

.main__der__img {
    width: 50%;
    /* display: none; */
}

/* .main__der__h5,
.main__der__p {
    display: none; 
 }  */

.main__der__encript {
    height: 89%;
    width: 100%;
    border: none;
    resize: none;
    color: var(--color-primario);
    font-size: 1.3rem;
    background-color: var(--color-cuarternario);
    display: none;
}

.main__der__copiar {
    width: 100%;
    display: none;
}

footer {
    background: var(--color-cuarternario);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fuente-merri);
    height: 10%;
    margin-top: 8%;
    font-size: 1rem;
}

@media (max-width: 1200px) {
    header {
        padding-block: 5%;
    }
    main {
        flex-direction: column;
        padding: 5%;
    }

    .main__izq {
        width: 100%;
    }

    .main__izq__msg {
        height: 400px;
    }

    .main__der {
        margin-top: 3rem;
        min-height: 50vh;
        width: 100%;
    }

    .main__der__img {
        display: none;
    }

    .main__der__encript {
        min-height: 20rem;
    }

    footer {
        margin-top: 5%;
    }
}
@media (max-width: 576px) {
    header {
        padding-block: 10%;
    }
    .main__izq__btnes {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .main__izq__btn {
        width: 100%;
    }
}
